<div>
  <div class="course_data">
    <p class="name"> {{video.title}} </p>
    <span class="duration"> {{video.duration}} min</span>
    <span class="date"> {{video.creation_date}} </span>
  </div>
  <div class="description">
    <p> {{video.description}} </p>
  </div>
  <div class="control">
    <button type="button" class="edit">
      <i class="fas fa-pen"></i>
      Edit
    </button>
    <button type="button" class="delete">
      <i class="far fa-trash-alt"></i>
      Delete
    </button>
  </div>
</div>
